#header {
    overflow: hidden;
    background-color: black;
    /* position: fixed; [> Set the navbar to fixed position <] */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */    
    padding:0.5em;
    color:white;
    margin-top:0px;
    /* margin-bottom:1em; */
}

#headerLeft {
    width:30%;
    padding-left:5em;
    text-align:left;
}


#headerRight {
    padding-right:5em;
    text-align:right;
    float:right;
}

#buttonRight {
    padding-right:2em;
    text-align:right;
    float:right;
}


html,body {
    margin:0;
    padding:0;
}

#map { height: 500px; 
    z-index:0;
}

#container {width:100%;
    float:left;}

/* For the elevation plot */
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    /* pointer-events: none; */
}

.overlay {
  fill: none;
  pointer-events: all;
}

#backgroundPlot {
    width: 500px;
    height: 200px;
    position:absolute;
    top:50px;
    right:50px;
    margin-left:00px;
    margin-top:00px;
    outline:1px solid green;
    pointer-events:none;
    color:black;
    background-color:white;
    opacity:1;
}
#plot {
    opacity:1;
}
