html,body {
    margin:0;
    padding:0;
}

 /* TOP BAR */

 #introVideo {
     width:40%;
     top: 20%;
     left: 30%;
     position: fixed;
     border:4px solid #FF4F4F;
     color: '#FF4F4F';
 }

#header {
    width:100%;
    height:40px;
    font-size:24px;
    line-height:40px;
    background:rgba(255,0,0,0.8);
    position: fixed;
    top: 00px; /* Position the navbar at the top of the page */
    margin:auto;
    color:white;
    transition: 0.5s;
}

#homeButton {
    margin-top:00px;
    width: 70px;
    height:100%;
    text-align:center;
}

#raceButton {
    margin-left:70px;
    width:20%;
    text-align:center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    font-family: "Verdana";
}

#raceName {
  width:20%;
  font-size:24px;
  position: fixed;
  right: 40%;
  color:#A1F8D1;
  text-align:center;
  font-family: "Verdana";
}

#quotesButton {
    left: 1%;
    position:fixed;
    font-size:24px;
    text-align:center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left:70px;
    background:rgba(255,0,0,0);
    padding: 0;
    border: none;
    background: none;
    font-family: "Verdana";
    color:white;
}

#marathonQuote {
  width:100%;
  height:40px;
  font-size:18px;
  line-height:40px;
  background:rgba(255,0,0,0.8);
  position: fixed;
  bottom: 1%
  margin:auto;
  color:white;
  transition: 0.5s;
  text-align:center;
  font-family: "Verdana";
}



/* Elevation plot  */

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    /* pointer-events: none; */
}

.overlay {
  fill: none;
  pointer-events: all;
}

#container {width:100%;
    height:100%
    float:left;
    position:relative;
}

#backgroundPlot {
    width: 25%;
    height: 200px;
    position:absolute;
    top:7%;
    right:3%;
    padding:12px;
    pointer-events:none;
    background:rgba(255,255,255,0.7);
    opacity:0;
    border-radius:7px;
}
#histogramPlot {
    opacity:1;
}

#classifiersTitle {
    font-size:20px;
    width: 10%;
    top:3%;
    left:3%;
    position: absolute;
}
#filtersTitle {
    font-size:20px;
    width: 10%;
    top:21%;
    left:3%;
    position: absolute;
}
#histogramTitle {
    font-size:20px;
    width: 25%;
    top:3%;
    right:3%;
    position: absolute;
    font-family: "Verdana";
    text-align:center;
    font-size:
}
#classifiers {
    width: 10%;
    top:7%;
    left:3%;
    background-color:rgba(255, 255, 255, 0.7);
    position: absolute;
    pointer-events:none;
}
#genderFilters {
    width: 10%;
    top:25%;
    left:3%;
    background-color:rgba(255, 255, 255, 0.7);
    position: absolute;
    pointer-events:none;
    opacity:0.7;
}

#ageFilters {
    width: 10%;
    top:39%;
    left:3%;
    background-color:rgba(255, 255, 255, 0.7);
    position: absolute;
    pointer-events:none;
    opacity:0.7;
}

#experienceFilters {
    width: 10%;
    top:64%;
    left:3%;
    background-color:rgba(255, 255, 255, 0.7);
    position: absolute;
    pointer-events:none;
    opacity:0.7;
}

#slidecontainer {
    background-color:rgba(255, 255, 255, 0.7);
    position: absolute;
    opacity:0.7;
    pointer-events:none;
    width: 10%;
    top: 85%;
    left:3%;
    font-size: 1.3vmin;
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #B3B3B3;
    cursor: pointer;
}

.filterContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    left: 2px;
    top: 2px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.3vmin;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #C0C0C0;
}
.filterContainer input {
    position: absolute;
    opacity: 0;
}
.filterContainer:hover input ~ .checkmark {
    opacity: 0.7;
}
.filterContainer input:checked ~ .checkmark {
    background-color: #C0C0C0;
}
.filterContainer input:checked ~ .checkmark_females { background: #CA6FA8;}
.checkmark_females { background-color: #CA6FA8;}
.filterContainer input:checked ~ .checkmark_males { background: #49A8B1;}
.checkmark_males { background-color: #49A8B1;}
.filterContainer input:checked ~ .checkmark_ages_7_20 { background: #89D863;}
.checkmark_ages_7_20 { background-color: #89D863 ;}
.filterContainer input:checked ~ .checkmark_ages_20_33 { background: #3CC46C ;}
.checkmark_ages_20_33 { background-color: #3CC46C ;}
.filterContainer input:checked ~ .checkmark_ages_33_47 { background: #49ABD1 ;}
.checkmark_ages_33_47 { background-color: #49ABD1 ;}
.filterContainer input:checked ~ .checkmark_ages_47_60 { background: #9267C4 ;}
.checkmark_ages_47_60 { background-color: #9267C4 ;}
.filterContainer input:checked ~ .checkmark_ages_60_ { background: #CA6FA8 ;}
.checkmark_ages_60_ { background-color: #CA6FA8 ;}
.filterContainer input:checked ~ .checkmark_count_1 { background: #79DA4A  ;}
.checkmark_count_1 { background-color: #79DA4A  ;}
.filterContainer input:checked ~ .checkmark_count_2_3 { background: #00B9A6  ;}
.checkmark_count_2_3 { background-color: #00B9A6  ;}
.filterContainer input:checked ~ .checkmark_count_4_ { background: #CA6FA8  ;}
.checkmark_count_4_ { background-color: #CA6FA8  ;}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the indicator (dot/circle) when checked */
.filterContainer input:checked ~ .checkmark:after {
    display: block;
}
/* Style the indicator (dot/circle) */
.filterContainer .checkmark:after {
 	top: 8px;
	left: 8px;
	width: 8px;
	height: 8px;
	background: white;
}

/* Time div */
#time {
    top: 3%;
    margin-left: 50%;
    padding:10px;
    border-radius:10px;
    font-size:24px;
    color:black;
    text-align:center;
    position:absolute;
    width:8%;
    right:46%;
    z-index:2;
    background: rgba(255,255,255,0.7);
    opacity:0;
    pointer-events:none;
    font-family: "Verdana";
}

/* Change view button */
#changeView {
    top: 480px;
    right:25px;
    background: rgba(255,255,255,0.8);
    opacity:0;
    position:absolute;
    width:150px;
    font-size:18px;
    color:black;
    text-align:center;
    pointer-events:none;
    padding:10px;
    border-radius:10px;
    font-family: "Verdana";
}

#startButton {
    bottom: 3%;
    right:46%;
    background: rgba(255,255,255,0.8);
    opacity:0;
    position:absolute;
    width:8%;
    font-size:24px;
    color:red;
    text-align:center;
    pointer-events:none;
    padding:10px;
    border-radius:10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Verdana";
}

#stopButton {
    top: 550px;
    right:970px;
    background: rgba(255,255,255,0.8);
    opacity:0;
    position:absolute;
    width:150px;
    font-size:24px;
    color:red;
    text-align:center;
    pointer-events:none;
    padding:10px;
    border-radius:10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Verdana";
}




/* Left bar */
#leftBar {width:20%;
    height:95%;
    overflow-y: scroll;
    background: rgba(255,255,255,0.6);
    opacity:0;
    pointer-events:none;
    color:black;
    position:fixed;
    top:00px;
    margin-left:70px;
    margin-top:40px;
    padding-bottom:40px;
    z-index:2;
    font-family: "Verdana";
}

#leftSideBarContainer {
    height: auto;
    width:100%;
    padding-left:5%;
    padding-right:5%;
    padding-top:10px;
    padding-bottom:10px;
    opacity:1;
    color:black;
    background: rgba(255,255,255,0.01);
    /* background-color:blue; */
    font-family: "Verdana";
}

.leftSideBarInfo {
    width:90%;
    font-size:20px;
    text-align:center;
    margin:0;
    color:black;
}

/* Bar */
#map {
    position: relative;
    height: 800px;
    width:100%;
    z-index:0;
    margin-top:40px;
    padding:0;
}

/* Footer  */
#info{
    background-color:white;
    margin-top:2.5%;
    margin-left:2%;
    height:auto;
    width:96%;
    float:right;
    font-size:16px;
    font-family: "Verdana";
    color:grey;
}
.infoTitle {
    text-align:left;
    font-size:18px;
    color:grey;
}
