#header {
    width:100%;
    height:40px;
    font-size:24px;
    line-height:40px;
    /* overflow: hidden; */
    background-color: black;
    position: fixed; 
    top: 00px; /* Position the navbar at the top of the page */
    margin:auto;
    /* padding:0.5em; */
    color:white;
    z-index:2;
}

#headerLeft {
    width:30%;
    padding-left:5em;
    text-align:left;
}


#headerRight {
    padding-right:5em;
    text-align:right;
    float:right;
}

#buttonRight {
    padding-right:2em;
    text-align:right;
    float:right;
}


html,body {
    margin:0;
    padding:0;
}


/* For the elevation plot */
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    /* pointer-events: none; */
}

.overlay {
  fill: none;
  pointer-events: all;
}

#container {width:100%;
    height:100%
    float:left;
    position:relative;
}

#leftBar {width:20%;
    height:100%;
    overflow-y: scroll;
    background: rgba(255,255,255,0.5);
    /* opacity:0.5; */
    color:black;
    position:fixed;
    top:00px;
    margin-left:00px;
    margin-top:40px;
    padding:0;
}

#leftSideBarContainer { 
    height: auto;
    width:100%;
    padding-left:5%;
    padding-right:5%;
    padding-top:10px;
    padding-bottom:10px;
    opacity:1;
    color:black;
    background: rgba(255,255,255,0.01);
    /* background-color:blue; */
}

.leftSideBarInfo {
    width:90%;
    color:black;
    font-size:25px;
    text-align:center;
    margin:0;
}

#map { height: 700px; 
    width:100%;
    z-index:0;
    margin-top:40px;
    padding:0;
}

#backgroundPlot {
    width: 500px;
    height: 200px;
    position:absolute;
    top:50px;
    right:50px;
    margin-left:00px;
    margin-top:00px;
    /* outline:1px solid green; */
    pointer-events:none;
    color:black;
    background-color:white;
    opacity:0;
}
#plot {
    opacity:1;
}
#footer{
    height:10000px;
    width:80%;
    float:right;
}
